<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CancerQuest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="main">
        <video autoplay loop muted plays-inline src="\static\css\clip.mp4" type="clip/mp4" class="video"></video>
        <nav>
                <img src="\static\css\cancerquest-low-resolution-logo-black-on-transparent-background.png" alt="Logo" height="60px" weight="60px" class="logo">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="awareness.html">AWARENESS</a></li>
                    <li><a href="">ABOUT US</a></li>
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href="/signup">SIGN UP</a></li>
                </ul>
        </nav>
            
        
    </div>
    
</body>
</html>